@font-face {
    font-family: animes;
    src: url(font/Piston\ Pressure.otf);
}

*{
    text-decoration: none;
}
body{
    background: rgb(30, 30, 30);
}
a{
    color: goldenrod;
    font-family: Bebas Neue;
}
header{
    text-align: center;
}
button{
    background-color: white;
    margin: 0 auto;
    border-radius: 8px;
    border-color: goldenrod;
}
img{
    margin-left: 11px;
    border-radius: 15px;
}
p{
    color: white;
    text-align: center;
    font-family: animes;
}
.episodes-button{
    text-align: center;
}